.card {
  justify-content: space-between;
  height: 100%;
	border-radius: 6px;
  background-color: #FFFFFF;
	box-shadow: 0 3px 5px 1px rgba(0,0,0,0.23);
}
h4 {
  font-size: 24px;
  font-weight: bold;
}
a {
  font-size: 18px;
  text-decoration: underline;
} 