<footer class="footer pt-5 pb-3">
  <div class="container">
    <div class="row">
      <div class="d-none d-lg-block col-lg-3 mb-3">
        <h4>Acerca de nosotros</h4>
        <p>¿Quiénes somos?</p>
        <p>¿Donde estamos?</p>
        <p>Contáctanos</p>
      </div>
      <div class="col-md-4 col-lg-3 mb-3">
        <h4>Comprar</h4>
        <p>Carrito</p>
        <p>Productos más populares</p>
        <p>Ofertas</p>
        <p>Condiciones de envío</p>
        <p>Condiciones de devolución</p>
      </div>
      <div class="col-md-4 col-lg-3 mb-3">
        <h4>Categorías</h4>
        <p>Video Juegos</p>
        <p>Fotografía</p>
        <p>TV</p>
        <p>Gafas de realidad aumentada</p>
        <p>Relojes inteligentes</p>
      </div>
      <div class="col-md-4 col-lg-3 mb-3">
        <h4>Ayuda y contacto</h4>
        <p>Atención al cliente</p>
        <p>Términos y condiciones</p>
        <p>Ayuda</p>
      </div>
    </div>
    <div class="text-center mt-3 pt-3 logos">
      <img [src]=src [alt]=alt height="64" />
    </div>
  </div>
</footer>
