<div class="prefooter">
  <div class="container text-center pt-5 pb-5">
    <div class="row">
      <div class="col-md-4">
        <div class="d-flex justify-content-center align-items-center icon">
          <!-- <img src="../../assets/icon-pig-blue.svg" alt="Ahorro"> -->
          <i class="icon-icon-pig"></i>
        </div>
        <h3>Las mejores ofertas</h3>
        <p>
          Encontrarás las mejores ofertas y precios a la medida de tu bolsillo.
        </p>
      </div>
      <div class="col-md-4">
        <div class="d-flex justify-content-center align-items-center icon">
          <!-- <img src="../../assets/icon-phone-blue.svg" alt="Mobile"> -->
          <i class="icon-icon-phone-blue"></i>
        </div>
        <h3>Compra online</h3>
        <p>
          Contamos con toda la seguridad para que realices tus compras online.
        </p>
      </div>
      <div class="col-md-4">
        <div class="d-flex justify-content-center align-items-center icon">
          <!-- <img src="../../assets/icon-truck-blue.svg" alt="Transporte"> -->
          <i class="icon-icon-truck"></i>
        </div>
        <h3>Entrega garantizada</h3>
        <p>
          Entrega rápida puerta a puerta, con toda la seguridad en tus pedidos.
        </p>
      </div>
    </div>
  </div>
</div>
