<!-- Formas de pago -->
<div class="card p-3 mb-3">
  <h3 class="card-header bg-transparent border-0 title-primary">Formas de pago</h3>
  <div class="card-body px-0">
    <div class="row m-0">
      <div class="col-6 col-md mb-5 mb-md-0 text-center">
          <img src="../../../assets/logo-master.svg" alt="Mastercard" class="d-block">
          <h4>Mastercard</h4>
      </div>
      <div class="col-6 col-md mb-5 mb-md-0 text-center">
          <img src="../../../assets/logo-visa.svg" alt="Visa" class="d-block">
          <h4>Visa</h4>
      </div>
      <div class="col-6 col-md mb-5 mb-md-0 text-center">
          <img src="../../../assets/logo-paypal.svg" alt="PayPal" class="d-block">
          <h4>PayPal</h4>
      </div>
      <div class="col-6 col-md mb-5 mb-md-0 text-center">
          <img src="../../../assets/logo-payu.svg" alt="PayU" class="d-block">
          <h4>PayU</h4>
      </div>
      <div class="col-6 col-md text-center">
          <img src="../../../assets/logo-baloto.png" alt="Baloto" class="d-block">
          <h4>Baloto</h4>
      </div>
    </div>
  </div>
</div>