$primary: #002C76;
$height: 48px;

.form-control {
  height: $height;
  border: 1px solid #a4a4a4;
  border-radius: 8px;
}

select.form-control {
  padding-right: 48px;
  background-image: url(../../../assets/arrow-down.svg);
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: calc(100% - 12px) 50%;
  -moz-appearance: none;
  appearance: none;
}

.btn {
  padding: 0 2em;
  height: 44px;
  border-radius: 22px;
}
