<div class="card cart-product shadow-sm">
  <div class="row align-items-center">
    <!-- Image / Info -->
    <div class="col-12 col-md-7 row">
      <div class="col-4 col-md-3 p-0">
        <img src={{product?.image}} alt={{product?.description}} class="card-img">
      </div>
      <div class="col-8 col-md-9 p-3">
        <h5 class="mb-3 title-secondary">{{product?.description}}</h5>
        <button class="btn btn-outline-primary" (click)="onClick()">Eliminar</button>
      </div>
    </div>
    <div class="col-12 col-md-5 row py-3">
      <div class="col-6">
        <h5 class="price label-dark">{{product?.price | currency:'COP':'$':'1.0':'es-CO'}}</h5>
      </div>
      <div class="col-6 text-right">
        <p class="qt label-dark"><span class="d-md-none">Cantidad:</span> <b>1</b></p>
      </div>
    </div>
  </div>
</div>


