.card {
  border: 0;
  border-radius: 6px;
  background-color: #FFFFFF;
	// box-shadow: 0 3px 5px 1px rgba(0,0,0,0.23);
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 24px;
}
p {
  font-size: 13px;
}
.btn {
  padding: 0 2em;
  height: 32px;
  border-radius: 16px;
}
